body{
    text-align: center;
    padding: 1% 0% 13.4% 0%;
    margin: 0%;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/721/178/532/numbers-texture-rust-colorful-wallpaper-preview.jpg");
    backdrop-filter: blur(4px)
}


h1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.534);
    font-family: 'Lobster', cursive;
    font-size: 320%;
    color: rgb(0, 0, 0);
    border-style: solid;
}


.article__ul-dias{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    font-family: fantasy;
    font-size: 10px; 
    text-align: center ;
    padding: 0%;
    background-color: rgba(0, 162, 255, 0.342);

}

.main__section-enero{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;
    background-color: aliceblue;   
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2{
    text-align: center;
    background-color: rgba(255, 166, 0, 0.459);
    margin: 0% 20% 0% 35%;
    border-radius: 20%;
}

ol{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: center;
    font-size: 12; 
    padding: 0%;
}

main{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 0%;
    margin: 0%;
}

.main__section-febrero{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;
    background-color: aliceblue;  
    box-shadow: 2px 2px 5px rgb(0, 0, 0);   
}

.first-day-enero{
    grid-column-start: 6;
}

.first-day-febrero{
    grid-column-start: 2;
}

.first-day-marzo{
    grid-column-start: 2;
}

.main__section-marzo{
    width: 400px;
    border-style: solid; 
    margin-bottom: 2%;
    background-color: aliceblue;    
    box-shadow: 2px 2px 5px rgb(0, 0, 0); 
}

.first-day-abril{
    grid-column-start: 5;
}

.main__section-abril{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;
    background-color: aliceblue; 
    box-shadow: 2px 2px 5px rgb(0, 0, 0);    
}

.first-day-mayo{
    grid-column-start: 7;
}

.main__section-mayo{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;
    background-color: aliceblue;   
    box-shadow: 2px 2px 5px rgb(0, 0, 0);  
}

.first-day-junio{
    grid-column-start: 3;
}

.main__section-junio{
    width: 400px;
    border-style: solid; 
    margin-bottom: 2%;
    background-color: aliceblue; 
    box-shadow: 2px 2px 5px rgb(0, 0, 0);      
}

.first-day-julio{
    grid-column-start: 5;
}

.main__section-julio{
    width: 400px;
    border-style: solid;  
    margin-bottom: 2%; 
    background-color: aliceblue;   
    box-shadow: 2px 2px 5px rgb(0, 0, 0);  
}

.first-day-agosto{
    grid-column-start: 1;
}

.main__section-agosto{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;  
    background-color: aliceblue; 
    box-shadow: 2px 2px 5px rgb(0, 0, 0);    
}

.first-day-septiembre{
    grid-column-start: 4;
}

.main__section-septiembre{
    width: 400px;
    border-style: solid; 
    margin-bottom: 2%;  
    background-color: aliceblue;   
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.first-day-octubre{
    grid-column-start: 6;
}

.main__section-octubre{
    width: 400px;
    border-style: solid; 
    margin-bottom: 2%;  
    background-color: aliceblue;    
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.first-day-noviembre{
    grid-column-start: 2;
}

.main__section-noviembre{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;
    background-color: aliceblue;  
    box-shadow: 2px 2px 5px rgb(0, 0, 0);       
}

.first-day-diciembre{
    grid-column-start: 4;
}

.main__section-diciembre{
    width: 400px;
    border-style: solid;
    margin-bottom: 2%;  
    background-color: aliceblue;  
    box-shadow: 2px 2px 5px rgb(0, 0, 0); 
 
}

@media only screen and (max-width:1200px){
    main{
        grid-template-columns: repeat(2, 1fr);
        padding: 12%;
        margin: 0%;
    }
}

@media only screen and (max-width:992px){
    main{
        grid-template-columns: repeat(2, 1fr);
        padding: 5%;
        margin: 0%;
    }
}

@media only screen and (max-width:768px){
    main{
        padding: 0% 25% 0% 25%;
        margin: 0%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:550px){
    main{
        grid-template-columns: repeat(1, 1fr);
        padding: 12%;
        margin: 0%;
    }
}    

@media only screen and (max-width:414px){
    main{
        grid-template-columns: repeat(1, 1fr);
        padding: 1%;
        margin: 0%;
    }
}