h1{
    text-align: center;
    font-weight: bold;
}


.article__ul-dias{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    font-family: fantasy;
    font-size: 12px; 
    text-align: center ;
    padding: 0%;
    background-color: rgba(0, 255, 242, 0.342);

}

.main__section-enero{
    width: 450px;
    border-style: solid;

}

h2{
    text-align: center;
}

ol{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: center;
    font-size: 12; 
    padding: 0%;
}

main{
    display: grid;
    grid-column: repeat(4, 1fr);
    grid-row: repeat(3, 1fr);
}

.main__section-febrero{
    width: 450px;
    border-style: solid;
    grid-column-start: 2;    
}

.first-day-enero{
    grid-column-start: 6;
}

.first-day-febrero{
    grid-column-start: 2;
}

.first-day-marzo{
    grid-column-start: 2;
}

.main__section-marzo{
    width: 450px;
    border-style: solid;
    grid-column-start: 3; 
}

.first-day-abril{
    grid-column-start: 5;
}

.main__section-abril{
    width: 450px;
    border-style: solid;
    grid-column-start: 4; 
}

.first-day-mayo{
    grid-column-start: 7;
}

.main__section-mayo{
    width: 450px;
    border-style: solid;
    grid-column-start: 1; 
    grid-row-start: 2;
    
}

.first-day-junio{
    grid-column-start: 3;
}

.main__section-junio{
    width: 450px;
    border-style: solid;
    grid-column-start: 2; 
    grid-row-start: 2;
    
}

.first-day-julio{
    grid-column-start: 5;
}

.main__section-julio{
    width: 450px;
    border-style: solid;
    grid-column-start: 3; 
    grid-row-start: 2;
    
}

.first-day-agosto{
    grid-column-start: 1;
}

.main__section-agosto{
    width: 450px;
    border-style: solid;
    grid-column-start: 4; 
    grid-row-start: 2;
    
}

.first-day-septiembre{
    grid-column-start: 4;
}

.main__section-septiembre{
    width: 450px;
    border-style: solid;
    grid-column-start: 1; 
    grid-row-start: 3;
    
}

.first-day-octubre{
    grid-column-start: 6;
}

.main__section-octubre{
    width: 450px;
    border-style: solid;
    grid-column-start: 2; 
    grid-row-start: 3;
    
}

.first-day-noviembre{
    grid-column-start: 2;
}

.main__section-noviembre{
    width: 450px;
    border-style: solid;
    grid-column-start: 3; 
    grid-row-start: 3;
    
}

.first-day-diciembre{
    grid-column-start: 4;
}

.main__section-diciembre{
    width: 450px;
    border-style: solid;
    grid-column-start: 4; 
    grid-row-start: 3;
    
}